.about {
  position: relative;
  color: $color-white;
  background-repeat: no-repeat;
  background-color: $color-main;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    margin-right: $second-offset;
    padding: $main-offset 0;
    width: 40%;
    transform: translateY($main-offset);

    @include tablet {
      transform: translateY($second-offset);
    }

    @include small-tablet {
      margin-right: 0;
      width: 100%;
      transform: translateY(0);
    }

    @include mobile {
      padding: $second-offset 0;
    }
  }

  &__title {
    color: $color-white;
  }

  &__quote {
    display: block;
    padding-bottom: $small-offset;
    max-width: 380px;
    font: $font-middle-book;

    &::before,
    &::after {
      content: "";
    }

    @include small-tablet {
      max-width: 480px;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: $font-prehigh-regular;

    &::before {
      content: "";
      margin-right: $second-offset;
      width: 30px;
      height: 3px;
      background-color: $color-white;
    }
  }

  &__image {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 57.63%;
    height: 580px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      height: 480px;
    }

    @include small-tablet {
      display: none;
    }
  }

  @include small-tablet {
    background-size: 0;
  }
}
