.cart-modal {
  border-radius: 4px;
  padding: $main-offset;
  width: 90%;
  max-width: 580px;

  .modal__close {
    display: none;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $main-offset;

    @media (max-width: 450px) {
      flex-direction: column;
      margin-bottom: $second-offset;
    }
  }

  &__title {
    margin: 0;
    font: $font-prehigh-regular;
    font-weight: 700;
    color: $color-text;

    @media (max-width: 450px) {
      margin-bottom: $second-offset;
    }
  }

  &__order-number {
    font: $font-book;
    line-height: 1;
    color: $color-gray;
  }

  .form-label {
    &:not(:last-of-type) {
      margin-bottom: $small-offset;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__input {
    color: $color-gray;
    background-color: #f7f7f7;
  }

  &__btn {
    &.focus-visible {
      outline: 2px solid $color-text;
      outline-offset: 2px;
    }

    @include mobile {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    padding: $second-offset;
  }
}

.cart-order {
  margin-bottom: $main-offset;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 30px;

  &__top {
    margin-bottom: $second-offset;
    font: $font-middle-book;
    line-height: 1;
    color: $color-gray;

    span {
      font: $font-middle-regular;
      font-weight: 700;
      font-size: inherit;
      color: $color-text;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__quantity {
    margin-bottom: $second-offset;
  }

  &__list {
    display: none;
    margin-top: $second-offset;

    &_visible {
      display: block;
    }

    @include mobile {
      margin-top: 0;
    }
  }

  &__show {
    position: relative;
    display: inline-flex;
    align-items: center;
    font: $font-middle-book;
    line-height: 1;
    color: $color-text;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    svg {
      margin-left: 5px;
      width: 7px;
      height: 7px;
      fill: currentColor;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }

    &_active {
      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: $color-accent-hover;

      &::before {
        transform: scaleX(1);
      }
    }

    &:active {
      color: $color-accent-active;
    }

    &.focus-visible {
      color: $color-accent-hover;

      &::before {
        transform: scaleX(1);
      }
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}
