.cart {
  z-index: 3;

  &__btn {
    display: flex;
    align-items: center;

    &:hover {
      .cart__btn-text::before {
        transform: scaleX(1);
      }
    }

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  &__btn-text {
    position: relative;
    margin-right: $small-offset;
    font: $font-book;
    color: $color-white;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    @media (max-width: 876px) {
      display: none;
    }
  }

  &__img {
    position: relative;
    width: 20px;
    height: 20px;
    pointer-events: none;

    svg {
      width: 100%;
      height: 100%;
      fill: $color-white;
      object-fit: cover;
      transition: fill 0.2s ease-in-out;
    }
  }

  &__text-btn {
    font: $font-book;
    color: $color-white;
  }

  &__count {
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 16px;
    min-width: 16px;
    font: $font-book;
    color: $color-white;
    background-color: $color-accent;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &_visible {
      opacity: 1;
    }
  }
}

.mini-cart {
  position: absolute;
  right: $small-offset;
  top: 100%;
  overflow: hidden;
  width: 480px;
  max-height: 0;
  box-shadow: 5px 5px 10px 5px rgba(0, 13, 84, 0.1);
  color: #4d4d4d;
  background-color: $color-white;
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    max-height 0.6s ease-in-out;

  &__top {
    max-height: clamp(50px, calc(70vh - 70px), 323px);

    @media (max-width: 810px) {
      max-height: clamp(50px, calc(70vh - 50px), 323px);
    }

    .simplebar-track.simplebar-vertical {
      right: 5px;
      top: 20px;
      bottom: 20px;
      border-radius: 5px;
      width: 4px;
      background: rgba(77, 77, 77, 0.1);
    }

    .simplebar-scrollbar {
      &::before {
        left: 0;
        right: auto;
        border-radius: 5px;
        width: 4px;
        background: rgba(77, 77, 77, 0.2);
        opacity: 1;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $second-offset;
    box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
    background-color: $color-white;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__total {
    @include mobile {
      margin-bottom: $second-offset;
    }
  }

  &__txt {
    display: block;
    margin-bottom: $small-offset;
    font: $font-book;
  }

  &__summ {
    font: $font-prehigh-regular;
    font-weight: 700;
  }

  &__btn {
    padding-top: 14px;
    padding-bottom: 14px;

    &.focus-visible {
      outline: 2px solid $color-text;
    }

    @include mobile {
      width: 100%;
    }
  }

  &_visible {
    max-height: calc(100vh - 70px);
    opacity: 1;
    visibility: visible;

    @media (max-width: 810px) {
      max-height: calc(100vh - 50px);
    }
  }

  @include mobile {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 30px);
  }
}

.cart__btn.focus-visible {
  .cart__btn-text::before {
    transform: scaleX(1);
  }
}

.cart__btn_clicked {
  .cart__img {
    svg {
      fill: $color-accent-hover;
    }
  }
}
