.catalog {
  position: relative;
  padding: 60px 0;

  &__title {
    margin-bottom: $main-offset;

    @include mobile {
      margin-bottom: $second-offset;
    }
  }

  &__left {
    grid-column: 3 span;

    @include tablet {
      grid-column: 12 span;
    }
  }

  &__props {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $second-offset;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__prop {
    margin-bottom: $second-offset;

    &_no-margin {
      margin-bottom: 0;
    }

    @include tablet {
      width: 100%;

      &:not(:last-child) {
        margin-right: $second-offset;
      }
    }
  }

  &__grid {
    display: none;
    flex-direction: column;
    align-items: center;
    grid-column: 9 span;

    @include tablet {
      grid-column: 12 span;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: $second-offset;
    font: $font-prehigh-book;
    color: $color-text;
  }

  &__caption {
    display: block;
    margin-bottom: $small-offset;
    font: $font-middle-book;
    color: $color-text;
  }

  &__prop-checkboxes {
    display: flex;
    flex-wrap: wrap;

    .custom-checkbox {
      margin-bottom: $small-offset;

      &:not(:last-child) {
        margin-right: $small-offset;
      }
    }
  }

  &__apply {
    margin: 0 auto $second-offset;
    width: 100%;
    max-width: 320px;

    &.focus-visible {
      outline: 2px solid $color-accent;
      outline-offset: 2px;
    }
  }

  &__more {
    display: none;
    margin-top: $big-offset;

    &.focus-visible {
      outline: 2px solid $color-text;
      outline-offset: 2px;
    }

    @include mobile {
      margin-top: $second-offset;
    }
  }

  &__not-found-message {
    align-self: center;
    grid-column: 9 span;
    font: $font-prehigh-book;
    text-align: center;
    color: $color-text;

    @include tablet {
      grid-column: 12 span;
    }
  }

  &__reset {
    position: relative;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: $color-accent-hover;

      &::before {
        transform: scaleX(1);
      }
    }

    &:active {
      color: $color-accent-active;
    }
  }

  @include tablet {
    padding: $main-offset 0;
  }

  @include mobile {
    padding: $second-offset 0;
  }
}

.catalog__reset.focus-visible {
  color: $color-accent-hover;

  &::before {
    transform: scaleX(1);
  }
}

.catalog-list {
  grid-template-columns: repeat(9, 1fr);
  width: 100%;

  &__item {
    display: grid;
    grid-auto-flow: row;
    grid-column: 3 span;

    @include mobile {
      grid-column: 2 span;
    }

    @media (max-width: 380px) {
      grid-column: 4 span;
    }
  }

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog-filters {
  border-radius: 4px;
  padding: $second-offset;
  background-color: $color-bg;

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog-price {
  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 8px;
      bottom: 8px;
      width: 1px;
      height: 34px;
      background-color: $color-gray;
      transform: translateX(-50%);
    }
  }

  &__input {
    outline: none;
    border: 1px solid $color-gray;
    width: 50%;
    height: 50px;
    font: $font-middle-book;
    text-align: center;
    color: $color-text;
    background-color: transparent;

    &:first-child {
      border-right: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-left: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .noUi-horizontal {
    height: 2px;
  }

  .noUi-target {
    border: none;
    box-shadow: none;
    background-color: $color-text;
  }

  .noUi-connect {
    background-color: $color-text;
  }

  .noUi-horizontal .noUi-handle {
    top: -8px;
    width: 3px;
    height: 18px;
  }

  .noUi-touch-area {
    width: 12px;
    height: 22px;
    transform: translate(calc(-50% + 1px), -2px);
  }

  .noUi-handle-upper {
    right: 0;
  }

  .noUi-handle {
    border: none;
    border-radius: 100px;
    box-shadow: none;
    background-color: $color-text;
    cursor: pointer;

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-handle-lower {
    right: -3px;
  }
}

.catalog-price__input.focus-visible {
  background-color: $color-bg-dark;
}
