.contacts {
  position: relative;
  padding: $big-offset 0;
  background-color: #f3f6f6;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__text {
    flex: 1 1 auto;
    margin-right: $second-offset;

    @include tablet {
      margin-right: 0;
      margin-bottom: $second-offset;
    }
  }

  &__title {
    margin-bottom: $big-offset;

    @include mobile {
      margin-bottom: $second-offset;
    }
  }

  &__items {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: $main-offset;
    font-style: normal;

    @include tablet {
      margin-right: $main-offset;
    }

    @include mobile {
      margin-bottom: $second-offset;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: $second-offset;
    font: $font-book;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $color-gray;

    &_main {
      margin-bottom: $main-offset;

      @include tablet {
        margin-bottom: $second-offset;
      }
    }
  }

  &__address {
    display: block;
    color: $color-text;

    @include mobile {
      font-size: 14px;
    }
  }

  &__phone {
    display: inline-block;
    margin-bottom: $small-offset;
    outline: none;
    font: $font-middle-bold;
    color: $color-text;
    transition: color 0.3s ease-in-out;

    &:focus {
      color: $color-accent-hover;
    }

    &:hover {
      color: $color-accent-hover;
    }

    &:active {
      color: $color-accent-active;
    }
  }

  &__map {
    overflow: hidden;
    border-radius: 4px;
    width: 680px;
    height: 500px;
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;

    @include tablet {
      margin: 0 auto;
      width: 80%;
    }

    @include small-tablet {
      height: 425px;
    }

    @include mobile {
      height: 350px;
    }
  }

  @include tablet {
    padding: $main-offset 0;
  }

  @include mobile {
    padding: $second-offset 0;
  }
}
