.product {
  display: grid;
  grid-template: auto auto 1fr / 1fr;

  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: $color-text;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    svg {
      width: 28px;
      height: 28px;
      object-fit: cover;
      transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }

    &_info {
      svg {
        stroke: $color-white;
      }

      &:active {
        svg {
          stroke: $color-accent;
        }
      }
    }

    &_cart {
      svg {
        fill: $color-white;
      }

      &:active {
        svg {
          fill: $color-accent;
        }
      }
    }

    &:hover {
      background-color: $color-text-hover;

      svg {
        transform: scale(1.1);
      }
    }

    &:active {
      background-color: $color-text-active;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:first-child {
      margin-right: $main-offset;
    }

    &.focus-visible {
      background-color: $color-text-hover;

      svg {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: $small-offset;
    border-radius: 4px;
    padding-bottom: 100%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    justify-self: start;
    margin-bottom: $small-offset;
    font: $font-middle-book;
    line-height: 1;
    text-align: left;
    color: $color-text;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-accent-hover;
    }

    &:active {
      color: $color-accent-active;
    }
  }

  &__price {
    align-self: flex-end;
    font: $font-prehigh-regular;
    color: $color-text;
  }

  &:hover {
    .product__btns {
      opacity: 1;
      visibility: visible;
    }
  }
}

.product__title.focus-visible {
  outline: 1px solid $color-accent;
  outline-offset: 2px;
  color: $color-accent-hover;
}

.mini-product {
  display: flex;
  align-items: center;
  padding: $small-offset $second-offset;
  min-height: 100px;

  &__image {
    flex-shrink: 0;
    overflow: hidden;
    margin-right: $small-offset;
    border-radius: 4px;
    width: 100px;
    height: 57px;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__text {
    margin-right: auto;
    max-width: 268px;
  }

  &__title {
    display: block;
    justify-self: start;
    margin: 0;
    margin-bottom: $small-offset;
    font: $font-book;
    line-height: 20px;
    text-align: left;
    color: #4d4d4d;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-accent-hover;
    }

    &:active {
      color: $color-accent-active;
    }
  }

  &__price {
    font: $font-prehigh-regular;
    font-weight: 700;
  }

  &__delete {
    width: 20px;
    height: 20px;
    font-size: 0;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #4d4d4d;
      object-fit: cover;
      transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
      pointer-events: none;
    }

    &:hover {
      svg {
        fill: $color-accent;
        transform: scale(1.1);
      }
    }

    &:active {
      svg {
        fill: $color-accent-active;
      }
    }

    &.focus-visible {
      svg {
        fill: $color-accent;
        transform: scale(1.1);
      }
    }
  }
}

.cart-modal {
  .mini-product {
    display: flex;
    align-items: center;
    padding: 15px 0;

    &__image {
      flex-shrink: 0;
      overflow: hidden;
      margin-right: $small-offset;
      border-radius: 4px;
      width: 80px;
      height: 45px;
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    &__text {
      margin-right: auto;
      max-width: 290px;
    }

    &__title {
      display: block;
      justify-self: start;
      margin: 0;
      margin-bottom: $small-offset;
      font: $font-book;
      line-height: 20px;
      text-align: left;
      color: #4d4d4d;
    }

    &__price {
      font: $font-prehigh-regular;
      font-weight: 700;
      color: $color-text;
    }

    &__delete {
      position: relative;
      width: auto;
      height: auto;
      font: $font-book;
      line-height: 1;
      color: $color-gray;
      transition: color 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
      }

      svg {
        display: none;
      }

      &:hover {
        color: $color-accent;

        &::before {
          transform: scaleX(1);
        }
      }

      &:active {
        color: $color-accent-active;
      }

      &.focus-visible {
        color: $color-accent;

        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}

.mini-product__title.focus-visible {
  outline: 1px solid $color-accent;
  color: $color-accent-hover;
}
