.product {
  display: grid;
  grid-template: auto auto 1fr / 1fr;

  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: $color-text;
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 28px;
      height: 28px;
      object-fit: cover;
    }

    &:first-child {
      margin-right: $main-offset;
    }

    &:hover {
      background-color: $color-text-hover;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: $small-offset;
    border-radius: 4px;
    padding-bottom: 100%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: $small-offset;
    font: $font-middle-book;
    line-height: 1;
    color: $color-text;
  }

  &__price {
    align-self: flex-end;
    font: $font-prehigh-regular;
    color: $color-text;
  }

  &:hover {
    .product__btns {
      opacity: 1;
      visibility: visible;
    }
  }
}
