.modal {
  @include tablet {
    &::before {
      display: none;
    }
  }
}

.prod-modal {
  border-radius: 4px;
  padding: $main-offset;
  width: 90%;
  max-width: 1140px;

  .modal__close {
    z-index: 100;
    display: none;

    @include small-tablet {
      display: block;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 50% calc(50% - #{$second-offset});
    margin-bottom: $main-offset;
    gap: $second-offset;

    @include small-tablet {
      grid-template-columns: 100%;
      margin-bottom: $second-offset;
    }
  }

  &__video {
    overflow: hidden;
    margin-top: $main-offset;
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 16 / 9;

    iframe {
      display: block;
      border: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include small-tablet {
      margin-top: $second-offset;
    }
  }

  @media (max-width: 480px) {
    padding: $second-offset;
  }
}

.modal-slider {
  &__container {
    overflow: hidden;
    width: 100%;
    font-size: 0;

    img {
      width: 100%;
      max-height: 460px;
      object-fit: cover;
    }
  }

  @include small-tablet {
    order: 1;
  }
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: $big-offset;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: $main-offset;
    font: $font-middle-book;
    line-height: 1;
    color: $color-gray;

    @include small-tablet {
      margin-bottom: $second-offset;
    }
  }

  &__vendor {
    margin-right: $main-offset;

    @include tablet {
      margin-right: $small-offset;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__quantity {
    span {
      color: $color-text;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: $second-offset;
    font: $font-prehigh-book;
    line-height: 1.4;
    color: $color-text;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: $second-offset;
    fill: #f14f4f;

    svg {
      width: 16px;
      height: 15px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: $second-offset;
    font: $font-middle-book;
    line-height: 1;
    color: $color-text;
  }

  &__price {
    display: flex;
    align-items: center;

    @include small-tablet {
      margin-bottom: $second-offset;
    }
  }

  &__current-price {
    margin-right: 32px;
    font: $font-middle-bold;
    line-height: 1;
    color: $color-text;
  }

  &__old-price {
    font: $font-middle-book;
    line-height: 1;
    color: $color-gray;
  }

  &__order {
    margin-top: auto;
    width: 100%;

    &.focus-visible {
      outline: 2px solid $color-text;
    }

    @include small-tablet {
      margin: 0 auto;
      width: 400px;
    }

    @include mobile {
      width: 100%;
    }
  }

  @include tablet {
    padding-right: 0;
  }

  @include small-tablet {
    order: 3;
  }
}

.modal-note {
  &__item {
    position: relative;
    padding-left: 25px;
    font: $font-book;
    color: $color-gray;

    &:not(:last-child) {
      margin-bottom: $small-offset;
    }
  }

  &__check {
    position: absolute;
    left: 0;
    top: 15%;
    width: 15px;
    height: 12px;
    fill: currentColor;
  }

  @include small-tablet {
    order: 4;
  }
}

.modal-sizes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    margin-bottom: $second-offset;

    &:not(:last-child) {
      margin-right: $second-offset;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-gray;
    border-radius: 4px;
    padding: 6px 0;
    width: 70px;
    font: $font-book;
    color: $color-text;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    &_active {
      color: $color-white;
      background-color: $color-text;
    }

    &:hover {
      color: $color-white;
      background-color: $color-text;
    }

    &:active {
      opacity: 0.8;
    }

    &.focus-visible {
      outline: 2px solid $color-accent;
      color: $color-white;
      background-color: $color-text;
    }
  }
}

.modal-preview {
  --size-col: 70px;

  display: grid;
  grid-column-gap: calc((100% - var(--size-col) * 6) / 5);
  grid-template-columns: repeat(6, var(--size-col));
  grid-template-rows: 75px;

  &__item {
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_active {
      border: 1px solid $color-gray;
      opacity: 0.7;
      pointer-events: none;
    }

    &:hover {
      outline: 1px solid $color-gray;
      opacity: 0.7;
    }

    &.focus-visible {
      outline: 1px solid $color-gray;
    }
  }

  @include tablet {
    --size-col: 60px;

    grid-template-rows: 63px;
  }

  @media (max-width: 958px) {
    --size-col: 50px;

    grid-template-rows: 52px;
  }

  @include small-tablet {
    --size-col: 70px;

    order: 2;
    grid-template-rows: 75px;
  }

  @media (max-width: 600px) {
    --size-col: 60px;

    grid-template-rows: 63px;
  }

  @media (max-width: 514px) {
    --size-col: 50px;

    grid-template-rows: 52px;
  }

  @media (max-width: 470px) {
    display: none;
  }
}

.swiper-slide {
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.prod-bottom {
  display: flex;

  &__column {
    &:first-child {
      margin-right: $second-offset;
      width: 50%;

      @media (max-width: 600px) {
        margin: 0 0 $second-offset;
        width: 100%;
      }
    }

    &:last-child {
      width: calc(50% - #{$second-offset});

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: $second-offset;
    font: $font-prehigh-book;
    color: $color-text;
  }

  &__descr {
    margin: 0;
    max-width: 430px;
    font: $font-middle-book;
    color: $color-text;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.prod-bottom__descr + .prod-bottom__descr {
  margin-top: 5px;
}
