.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: $second-offset;
    }
  }

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--vk {
      background-image: url("../img/vk.svg");
    }

    &--instagram {
      background-image: url("../img/instagram.svg");
    }
  }
}
