.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: $second-offset;
    }
  }

  &__link {
    display: block;
    outline: none;
    width: 44px;
    height: 45px;

    svg {
      width: 100%;
      height: 100%;
      fill: #0e5a4c;
      object-fit: cover;
      transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &:focus {
      svg {
        fill: #0b4238;
        transform: scale(1.1);
      }
    }

    &:hover {
      svg {
        fill: #0b4238;
        transform: scale(1.1);
      }
    }

    &:active {
      svg {
        fill: #09352d;
      }
    }
  }
}
