.team {
  position: relative;
  padding: $big-offset 0;
  color: $color-white;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: $color-main;

  &__list {
    row-gap: $main-offset;
  }

  &__title {
    margin-bottom: $main-offset;
    color: $color-white;

    @include mobile {
      margin-bottom: $second-offset;
    }
  }

  &__item {
    grid-column: 4 span;

    @include mobile {
      grid-column: 2 span;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    margin-bottom: $second-offset;
    border-radius: 4px;
    padding-bottom: 105%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    display: block;
    margin-bottom: $second-offset;
    font: $font-prehigh-book;

    @include mobile {
      font-size: 22px;
    }
  }

  &__post {
    font: $font-middle-book;

    @include mobile {
      font-size: 15px;
    }
  }

  @include tablet {
    padding: $main-offset 0;
    background-size: 50%;
  }

  @include mobile {
    padding: $second-offset 0;
    background-size: 0;
  }
}
