<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__text">
      <h2 class="title contacts__title">Контакты</h2>
      <div class="contacts__item">
        <h3 class="contacts__subtitle contacts__subtitle_main">
          Главный офис
          <span class="tooltip">
            <button
              class="tooltip__btn btn-reset"
              aria-describedby="office"
              aria-label="Описание адреса"
            >
              <svg>
                <use href="img/sprite.svg#tooltip"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="office">
              <span class="visually-hidden">Тултип: </span>
              Адрес и&nbsp;телефон для корреспонденции, инвесторов. Вопросы
              о&nbsp;доставке, качестве обслуживания и&nbsp;товара просьба
              задавать в&nbsp;отдел продаж
            </span>
          </span>
        </h3>
        <a href="tel:+7800789898" class="contacts__phone">+7 800 789 89 89</a>
        <span class="contacts__address"
          >г. Санкт-Петербург, 2-я Комсомольская улица, 43</span
        >
      </div>
      <div class="contacts__item">
        <h3 class="contacts__subtitle">Отдел продаж</h3>
        <a href="tel:+7800789898" class="contacts__phone">+7 800 789 89 89</a>
        <span class="contacts__address"
          >г. Санкт-Петербург, Мичуринская улица, 3
        </span>
      </div>
      <ul class="social list-reset">
        <li class="social__item">
          <a
            href="https://vk.com/"
            target="_blank"
            class="social__link"
            aria-label="Мы ВКонтакте"
          >
            <svg>
              <use href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="social__link"
            aria-label="Мы в инстаграме"
          >
            <svg>
              <use href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="contacts__map lazyload-bg" id="map"></div>
  </div>
</section>
