<section class="instagram">
  <div class="anchor" id="instagram"></div>
  <h2 class="visually-hidden">Форма и лента иснтаграм</h2>
  <div class="container instagram__container">
    <div class="instagram__left">
      <form class="callback-form">
        <h3 class="title instagram__title">Есть вопросы?</h3>
        <p class="instagram__descr">
          Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами
        </p>
        <label class="form-label">
          <input
            type="text"
            class="input instagram__input"
            placeholder="Ваше имя"
            name="name"
            data-validate-field="name"
          />
        </label>
        <label class="form-label">
          <input
            type="tel"
            class="input instagram__input"
            placeholder="Номер телефона"
            name="phone"
            data-validate-field="phone"
          />
        </label>
        <button class="btn btn_primary btn-reset instagram__btn">
          Отправить
        </button>
      </form>
    </div>
    <div class="instagram__right">
      <div class="instagram__logo">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener"
          class="instagram__link"
        >
          <img
            class="lozad"
            src="img/instagram-block.png"
            data-srcset="img/instagram-block.png 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Лого инстаграм"
          />
        </a>
      </div>
      <div class="instagram__content">
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img
            class="lozad instagram__image"
            src="img/instagram-photo-1.jpg"
            data-srcset="img/instagram-photo-1.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Фото из Инстаграма"
          />
        </article>
        <article class="instagram__item instagram__item_big">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img
            class="lozad instagram__image"
            src="img/instagram-photo-2.jpg"
            data-srcset="img/instagram-photo-2.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Фото из Инстаграма"
          />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img
            class="lozad instagram__image"
            src="img/instagram-photo-3.jpg"
            data-srcset="img/instagram-photo-3.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Фото из Инстаграма"
          />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img
            class="lozad instagram__image"
            src="img/instagram-photo-4.jpg"
            data-srcset="img/instagram-photo-4.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Фото из Инстаграма"
          />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img
            class="lozad instagram__image"
            src="img/instagram-photo-5.jpg"
            data-srcset="img/instagram-photo-5.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Фото из Инстаграма"
          />
        </article>
      </div>
    </div>
  </div>
</section>
