<section class="instagram">
  <h2 class="visually-hidden">Форма и лента иснтаграм</h2>
  <div class="container instagram__container">
    <div class="instagram__left">
      <form action="#" class="callback-form">
        <h3 class="title instagram__title">Есть вопросы?</h3>
        <p class="instagram__descr">
          Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами
        </p>
        <input
          type="text"
          class="input instagram__input"
          placeholder="Ваше имя"
        />
        <input
          type="tel"
          class="input instagram__input"
          placeholder="Номер телефона"
        />
        <button class="btn btn_primary btn-reset instagram__btn">
          Отправить
        </button>
      </form>
    </div>
    <div class="instagram__right">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="instagram__link"
      >
        <img src="img/instagram-block.png" alt="Лого инстаграм" />
      </a>
      <div class="instagram__content">
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/instagram-photo-1.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item instagram__item_big">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/instagram-photo-2.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/instagram-photo-3.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/instagram-photo-4.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/instagram-photo-5.jpg" alt="Фото из Инстаграма" />
        </article>
      </div>
    </div>
  </div>
</section>
