<div class="modal">
  <div
    class="modal__container prod-modal"
    role="dialog"
    aria-modal="true"
    data-graph-target="prod-modal"
  >
    <button
      class="btn-reset modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal-content">
      <div class="prod-modal__top">
        <div class="modal-slider">
          <div class="modal-slider__container">
            <div class="swiper-wrapper"></div>
          </div>
        </div>
        <div class="modal-info">
          <div class="modal-info__wrapper"></div>
          <button
            class="btn btn-reset btn_primary modal-info__order"
            disabled="disabled"
          >
            Заказать
          </button>
        </div>
        <div class="modal-preview"></div>
        <ul class="modal-info__notes modal-note list-reset"></ul>
      </div>
      <div class="prod-modal__bottom prod-bottom">
        <div class="prod-bottom__column">
          <h3 class="prod-bottom__title">Описание</h3>
          <p class="prod-bottom__descr modal-prod-descr"></p>
        </div>
        <div class="prod-bottom__column">
          <h3 class="prod-bottom__title">Характеристики</h3>
          <div class="prod-chars"></div>
        </div>
      </div>
      <div class="prod-modal__video"></div>
    </div>
  </div>

  <div
    class="modal__container cart-modal"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-modal"
  >
    <button
      class="btn-reset modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="modal-content">
      <div class="cart-modal__top">
        <h2 class="cart-modal__title">Оформление заказа</h2>
        <span class="cart-modal__order-number">Заказ 345667</span>
      </div>
      <div class="cart-order">
        <div class="cart-order__top">
          <div class="cart-order__quantity">
            Товаров в заказе:
            <span></span>
          </div>
          <div class="cart-order__summ">
            Общая сумма заказа:
            <span></span>
          </div>
        </div>
        <div class="cart-order__content">
          <button class="btn-reset cart-order__show cart-order__show_active">
            Состав заказа
            <svg>
              <use href="img/sprite.svg#angle"></use>
            </svg>
          </button>
          <ul class="list-reset cart-order__list cart-order__list_visible"></ul>
        </div>
      </div>
      <form action="" class="cart-modal__form">
        <input
          type="text"
          class="input cart-modal__input"
          name="name"
          placeholder="Ваше имя"
        />
        <input
          type="tel"
          class="input cart-modal__input"
          name="tel"
          placeholder="Номер телефона"
        />
        <input
          type="email"
          class="input cart-modal__input"
          name="email"
          placeholder="E-mail"
        />
        <button class="btn btn-reset btn_primary cart-modal__btn">
          Оформить заказ
        </button>
      </form>
    </div>
  </div>
</div>
