<section class="team" style="background-image: url(img/team-figure.svg)">
  <div class="anchor" id="team"></div>
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list grid list-reset">
      <li class="team__item">
        <div class="team__img">
          <img
            class="lozad"
            src="img/team-1.jpg"
            data-srcset="img/team-1.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Максим Золотарев"
          />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img
            class="lozad"
            src="img/team-2.jpg"
            data-srcset="img/team-2.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Максим Золотарев"
          />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img
            class="lozad"
            src="img/team-3.jpg"
            data-srcset="img/team-3.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Максим Золотарев"
          />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img
            class="lozad"
            src="img/team-4.jpg"
            data-srcset="img/team-4.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Максим Золотарев"
          />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img
            class="lozad"
            src="img/team-5.jpg"
            data-srcset="img/team-5.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Максим Золотарев"
          />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img
            class="lozad"
            src="img/team-6.jpg"
            data-srcset="img/team-6.jpg 100w"
            srcset="img/placeholder.svg 100w"
            sizes="100vw"
            alt="Максим Золотарев"
          />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
  </div>
</section>
