<section class="team">
  <div class="container">
    <img
      src="img/team-figure.svg"
      alt=""
      aria-hidden="true"
      class="team__figure"
    />
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list grid list-reset">
      <li class="team__item">
        <div class="team__img">
          <img src="img/team-1.jpg" alt="Максим Золотарев" />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img src="img/team-2.jpg" alt="Максим Золотарев" />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img src="img/team-3.jpg" alt="Максим Золотарев" />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img src="img/team-4.jpg" alt="Максим Золотарев" />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img src="img/team-5.jpg" alt="Максим Золотарев" />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>

      <li class="team__item">
        <div class="team__img">
          <img src="img/team-6.jpg" alt="Максим Золотарев" />
        </div>
        <strong class="team__name">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
  </div>
</section>
