html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Intro", sans-serif;
  background-color: $color-white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 $paddings;
  max-width: calc(1180px + #{$paddings} * 2);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $grid-gap;
}

.btn {
  border-radius: 4px;
  padding: 22px 47px;
  font: $font-middle-regular;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &--primary {
    color: $color-white;
    background-color: $color-accent;

    &:hover {
      background-color: $color-accent-hover;
    }
  }

  &--secondary {
    color: $color-white;
    background-color: $color-text;

    &:hover {
      background-color: $color-text-hover;
    }
  }

  &--thirdly {
    border: 1px solid $color-text;
    padding: 13px 41px;
    color: $color-text;
    background-color: transparent;

    &:hover {
      color: $color-white;
      background-color: $color-text;
    }
  }
}

.title {
  margin: 0;
  font: $font-middle-bold;
  color: $color-text;
}

.custom-checkbox {
  @include custom-checkbox;

  &__content {
    padding-left: 35px;
    font: $font-middle-book;
    color: $color-text;

    &::before {
      top: -1px;
      border-color: $color-cameo;
      border-radius: 4px;
      width: 24px;
      height: 24px;
    }

    &::after {
      top: -1px;
      width: 24px;
      height: 24px;
      background-image: url(../img/check.svg);
      background-size: 15px 12px;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: none;
  clip: rect(0 0 0 0);
}
